<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Stock</title>
</head>
<body>
    <%- include(`./partials/navbarLogin.ejs`) %>
    <h2>Edit Stock</h2>
    <a href="/editStock">All</a>
    <a href="/editStock/?type=Saham1">Saham1</a>
    <a href="/editStock/?type=Saham2">Saham2</a>
    <a href="/editStock/?type=Saham3">Saham3</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price per Stock</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
        <% stocks.forEach(e => { %>
            <tr>
                <td><%= e.name %></td>
                <td><%= e.companyName %></td>
                <td><%= e.type %></td>
                <td><%= e.description %></td>
                <td><%= e.price %></td>
                <td><%= e.stock %></td>
                <td>
                    <a href="/editStock/<%= e.id %>"><button>Edit</button></a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>