<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Stock</title>
</head>
<body>
    <form action="" method="post">
        <h2><%= stock.name %></h2>
        <h3><%= stock.companyName %></h3>
        <p>Description: <%= stock.description %></p>
        <p>Price per stock: <%= stock.price %></p>
        <p>Stock available: <%= stock.stock %></p>
        <label for="">Stock:</label>
        <input type="number" name="bought" id=""><br><br>
        <button>Submit</button>
    </form>
    <a href="/openStocks">
        <button>Cancel</button>
    </a>
</body>
</html>